<!--<pre>{{user|json}}</pre>-->
<!DOCTYPE HTML>
<html lang = "en">

<head>
    <title>Resistor page</title>
    <link href="app/views/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <meta charset = "UTF-8" />
    <style>
        body {
            background: #e8e8c1;
        }
    </style>
</head>
<body>

<div class="elements">
    <div id="show11" onclick=""></div>
    <!--<input type="text" id="textValue" name="rev">-->
    <!--<input type="button" name="but1" onclick="reverseCalculate()" value="Reverse">-->
</div>
</body>
</html>