<div class=" col-md-6 col-md-offset-3">
	<div class="panel panel-default">
		<div class="panel-heading">Register</div>
		<div class="panel-body">
			<div class="col-md-12">
				<form ng-submit="submit()" name="register" novalidate>

					<div class="form-group"
						ng-class="{ 'has-error': register.username.$invalid && register.username.$dirty }">
						<label for="username">Username:</label> <input type="text"
							required class="form-control" ng-model="user.name"
							id="username" name="username">
					</div>
					<div class="form-group"
						 ng-class="{ 'has-error': register.email.$invalid && register.email.$dirty }">
						<label for="email">Email:</label> <input type="text"
																	   required class="form-control" ng-model="user.email"
																	   id="email" name="email">
					</div>

					<div class="form-group"
						 ng-class="{ 'has-error': register.nickname.$invalid && register.nickname.$dirty }">
						<label for="nickname">NickName:</label> <input type="text"
																 required class="form-control" ng-model="user.nickname"
																 id="nickname" name="nickname">
					</div>
					<div class="form-group"
							   ng-class="{ 'has-error': register.photo.$invalid && register.photo.$dirty }">
					<label for="photo">Photo:</label> <input type="text"
																required class="form-control" ng-model="user.photo"
																id="photo" name="photo">
				</div>
					<div class="form-group"
						 ng-class="{ 'has-error': register.role.$invalid && register.role.$dirty }">
						<label for="role">RoleString:</label> <input type="text"
																	required class="form-control" ng-model="user.role"
																	id="role" name="role">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.password.$invalid && register.password.$dirty }">
						<label for="pwd">Password:</label> <input type="password" required
							class="form-control" id="pwd" ng-model="user.password"
							name="password">
					</div>

					<div class="form-group"
						ng-class="{ 'has-error': register.confirmPassword.$invalid && register.confirmPassword.$dirty }">
						<label for="cpwd">Confirm Password:</label> <input type="password"
							name="confirmPassword" required class="form-control" id="cpwd"
							ng-model="confirmPassword">
					</div>

					<div class="alert alert-warning margin-top-5"
						ng-show="confirmPassword != user.password ">Password Not
						Matching</div>

					<button type="submit" class="btn btn-default"
						ng-disabled="register.$invalid || (confirmPassword != user.password)">Register</button>
					<button class="btn btn-default" ui-sref="login">Login</button>
					<div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
				</form>
			</div>
		</div>
	</div>
</div>