<h2>Projects Details</h2>
<div class="container-fluid">
<div *ngIf="project">
  <div class="jumbotron"><h2>"{{ project.name }}"</h2></div>
  <div class="jumbotron"><h4>"{{ project.description }}"</h4></div>
    <div class="jumbotron"><h5>{{project.text}}</h5></div>

</div>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/message">Message</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>

  <button class="btn btn-primary btn-lg" (click)="gotoProjects()">Back</button>
</div>
