<div class="container">
  <div class="row">
    <div class="col-md-7 ">
      <div class="panel panel-default">
        <div class="panel-heading"><h4>Account</h4></div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="col-sm-6">
                <div align="center"><img alt="User Pic"
                                         src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                         id="profile-image1" class="img-circle img-responsive">
                  <input id="profile-image-upload" class="hidden" type="file">
                  <div style="color:#999;">change image</div>
                  <!--Upload Image Js And Css-->
                </div>
                <br>
                <!-- /input-group -->
              </div>
              <div class="col-sm-6">
                <span><h4 style="color:#00b1b1;">{{user.name}} | {{user.nickName}} </h4></span>
                <span><p>{{user.role}}</p></span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;">
              <div class="col-sm-5 col-xs-6 tital ">Name:</div>
              <div class="col-sm-7 col-xs-6 ">{{user.name}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Nickname:</div>
              <div class="col-sm-7"> {{user.nickName}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Email:</div>
              <div class="col-sm-7">{{user.email}}</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
